body {
    
    background-color: rgb(250, 250, 250);
        
}

#main-container,
.container{
    max-width: 935px;
    margin: 0 auto;
    
}

.photo-grid img {
    max-width: 100%;

}

.photo-grid .col-md-4 {
    
    margin-top: 50px;
}

.photo-grid {
    
    margin-bottom: 5px;
}


#profile-info {
    
    margin-top: 50px;
}

#profile-photo img {
    
    border-radius: 1000px;
    max-width: 200px;
    width: 20vw;
    display: block;
    margin: 0 auto;
}

#profile-stats {
 padding: 0;
}

#navbar-logo {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color:rgb(4,75,123);
}

.navbar {
    padding: 20px;
    background-color: white;

}

.navbar-right {
    padding: 10px;
    

}

.footer {
    padding-bottom: 20px;
}

#footer-left {
    display: inline-block;
}

#footer-right {
    float: right;
    display: inline-block;
    color: #666;
    font-weight: 700;
}

